<!DOCTYPE html>
<html>
<head>
	<title>Dojo Survey</title>
</head>
<body>
	<form action="/result" method="post">
		Name:<input type="text" name="name">
		Dojo Location:
		<select name="location">
			<option value="san_jose">San Jose</option>	
			<option value="chicago">Chicago</option>
			<option value="dallas">Dallas</option>
			<option value="los_angeles">Los Angeles</option>
			<option value="seattle">Seattle</option>
		</select>
		Favorite Language:
		<select name="language">
			<option value="python">Python</option>
			<option value="javascript">JavaScript</option>
			<option value="ruby">Ruby</option>
			<option value="php">PHP</option>
		</select>
		Comments (optional):<textarea name="comments"></textarea>
		<button type="submit">Submit</button>
	</form>
</body>
</html>